@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    height: 5000px;
    margin: 0;
}

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.flex_parent {
    display: flex;
    background-color: #f00;
    height: 400px;
    /*flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
}

.flex_parent > div,
.flex_parent2 > div {
    font-weight: bold;
    font-size: 1.4rem;
    background-color: #0df553;
    padding: 10px;
    /* width: 25%; */
}
.flex_parent > div:nth-child(2) {
    background-color: #00f;
    color: white;
    align-self: flex-start;
    flex: 1;
}
.flex_parent2 {
    display: flex;
    flex-wrap: wrap;
    padding: 1.25rem 0;
    background-color: #f829ff;
}
.flex_parent2 > div {
    width: 25%;
}
.grid_parent {
    display: grid;
    /* grid-template-columns: 50% 25% 25%; */
    /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(105, 105, 105);
}
.grid_parent > div {
    padding: 10px;
    background-color: #c1ff16;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: 2px solid aqua;
}
.grid_parent > div:nth-child(2) {
    background-color: #00f;
    color: white;
    /* grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4; */

    grid-row: 3/4;
    grid-column: 1/4;
}
.grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "myHeader myHeader"
        "myNav myMain"
        "myFooter myFooter";
}

header {
    background-color: #6dff18;
    grid-area: myHeader;
}
.sidebar {
    background-color: red;
    grid-area: myNav;
    height: 500px;
}
main {
    background-color: blue;
    grid-area: myMain;
}
footer {
    background-color: #999;
    grid-area: myFooter;
}

@media (max-width: 600px) {
    :root {
        font-size: 8px;
    }
    .flex_parent2 > div {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    :root {
        font-size: 12px;
    }
    .flex_parent2 > div {
        width: 50%;
    }
}
